@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  transition: background-color 0.2s;
  background: var(--bg-color);
  min-height: 100vh;
  height: 1px;
}

.global {
  font: var(--font-m);
  color: var(--primary-color);
}
