.Button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: solid black 1px;
  background: none;
  outline: none;
}
