.ArticleList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.Skeleton {
  margin: 5%;
  padding: 30px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: solid 1px var(--primary-color);
  border-radius: 15px;
}

.SkeletonHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.SkeletonTags {
  display: flex;
  gap: 20px;
}
