.Navbar{
  display: flex;

  height: var(--navbar-height);
  justify-content: space-between;
  align-items: center;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  padding: 0 15px;
}

.links{
  display: flex;
  gap: 15px;
}