.Select {
  background: none;
  border: none;
  color: var(--primary-color);
  border-bottom: var(--primary-color) solid 2px;
}

.option {
  background: none;
  border: none;
  color: var(--primary-color);
  border-bottom: var(--primary-color) solid 2px;
}
