.dark {
  --bg-color: #090949;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-bg-color: #e8e8ea;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;

  // skeleton
  --skeleton-color: #031779;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
